---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="plant" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Plant Biology</h2>
		<p>Genomics and phenomics of soybean, rice, maize, duckweed, cannabis, and more.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Software Engineering</h2>
		<p>Full-stack, from hardware to frontend.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="users-four" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Leadership</h2>
		<p>Managing projects, building communities, and organizing events.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
